:root {
  --aside-color-aside: #3d4085;
  --aside-color-sub: #4a4da0;
  --black-color: #fff;
}

.sidebar {
  position: fixed;
  top: 143px;
  left: 0;
  height: 100vh;
  width: 260px;
  background: var(--aside-color-aside);
}
.sidebar .logo-details {
  display: flex;
  height: 60px;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.logo-details i {
  font-size: 30px;
  color: var(--black-color);
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.logo_name {
  font-size: 22px;
  color: var(--black-color);
  font-weight: 600;
}
.asidebar .nav-links {
  height: 100%;
  padding-top: 30px;
}
.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;

  &:hover {
    background-color: var(--aside-color-sub);
  }
}
.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: var(--black-color);
  font-size: 20px;
}
.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
  color: var(--black-color);
}
.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background-color: var(--aside-color-sub);
  /*display: none;*/
}
.sidebar .nav-links li .sub-menu a {
  color: var(--black-color);
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3 ease;
}
.sidebar .close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
}
