* {
  box-sizing: border-box;
}
:root {
  --color-aside-background: #3d4085;
  --color-titulo-aside: #d8d8d8;
  --color-boton-eliminar: crimson;
  --color-boton-editar: rgb(70, 220, 20);
}
.lado-pazas {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-aside-background);
}
.titulo-lado-clases {
  color: var(--color-titulo-aside);
}
.agregar-seccion {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  justify-content: center;
}
.plaza {
  margin: 10px 0 0 10px;
}
.plaza__input {
  display: inline-block;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: calc(100% - 207px);
  margin-bottom: 10px;
}
.plaza__remove {
  background-color: var(--color-boton-eliminar);
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.plaza__editar {
  background-color: var(--color-boton-editar);
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
