.disposicion {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 118px 1fr 100px;
  min-height: 100vh;
  grid-template-areas:
    "section section section"
    "main main aside"
    "main main aside";
}
.disposicion section {
  grid-area: section;
}
.disposicion #options {
  grid-area: main;
}
.disposicion .aside {
  grid-area: aside;
  min-height: 100vh;
}
